---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Ts Turismo - Seguros">

  <div class='max-w-4xl m-auto py-20 px-4 flex flex-col gap-y-4 text-sm'>
    <h1 class="font-bold text-xl">Alcance Seguros TS</h1>

    <h2 class="font-bold text-base">Responsabilidad Civil</h2>

    <p>La tarifa incluye cobertura obligatoria de responsabilidad civil hacia terceros por un máximo de ARS $160.000.000. TS Turismo proporciona los límites de seguro de responsabilidad civil establecidos por la ley tal como se establece en la solicitud de alquiler al momento de efectuarla. </p>

    <p> <span class="font-bold">Base:</span>
       La tarifa básica incluye cobertura con franquicia o deducible a cargo del cliente, que varía según la categoría del vehículo. La misma incluye cobertura con franquicia a cargo de quien alquila el vehículo, hasta el monto correspondiente en caso de daños por colisión, robo, hurto y/o vuelco. El monto de la franquicia es de 1500 usd (BNA vendedor). En la tarifa básica, el titular del alquiler es responsable ante cualquier daño, robo, hurto, vuelco y/o faltante hasta dicho monto de franquicia.
    </p>

    <p>
      <span class="font-bold">Full Cover:</span>  Incluye la cobertura plus y elimina la franquicia por choque, vuelco, rotura en cerraduras y cristales, daños por tentativa de robos y activación de airbags. Es la cobertura más completa que tenemos y la que recomendamos a todos nuestros clientes.
    </p>

    <h2 class="font-bold text-base">Protección por robo / hurto parcial o total / perdida</h2>
<p>
  Incluye franquicia a cargo del cliente, debiendo pagar hasta el monto total de la misma para cada categoría, según las condiciones de la solicitud del alquiler.
</p>

<h2 class="font-bold text-base">Protección contra daños por colisión</h2>
<p>
  Se incluye en la tarifa de seguro por colisión con franquicia a cargo del cliente. Se pueden solicitar coberturas adicionales que eliminan esta franquicia, exclusivamente. (full cover)
</p>

<h2 class="font-bold text-base">Garantías</h2>
<p>
  Como garantía del alquiler, se solicita una autorización en la tarjeta de crédito. La misma debe ser bancaria y se debe presentar la tarjeta físicamente. Se excluyen tarjetas digitales/virtuales, con código dinámico o recargables. Esta autorización debe estar disponible al momento de retirar el vehículo. 
</p>

<h2 class="font-bold text-base">Protección por vuelco</h2>
<p>
  Se incluye en la tarifa, debiendo pagar hasta el monto total de la franquicia estipulada para cada categoría, según las condiciones de la solicitud del alquiler. (Excepto para los casos que se haya adquirido Full Cover).
</p>


<h2 class="font-bold text-base">Aclaraciones:</h2>
<p>
  En caso de daños por causas climáticas (granizo, inundaciones, etc…) Se deberá abonar hasta la franquicia establecida. <br>
  En ningún caso los seguros cubren accidentes o roturas en los vehículos ocasionados por negligencias en la conducción.<br>
   En ningún tipo de seguro se encuentra incluido el traslado por grúa del vehículo, salvo que sean problemas mecánicos propios del vehículo y no hayan sido ocasionados por negligencia.
</p>



</div>
 
  
</Layout>
