---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Ts Turismo - Seguros">

  <div class='max-w-4xl m-auto py-20 px-4 flex flex-col gap-y-4 text-sm [&>h3]:font-bold'>
    <h1 class="font-bold text-xl">Alcance Seguros TS</h1>



    <h2 class="font-bold text-base">Responsabilidad Civil</h2>
        <p>La tarifa incluye cobertura obligatoria de responsabilidad civil hacia terceros por un máximo de ARS $160.000.000. TS Turismo proporciona los límites de seguro de responsabilidad civil establecidos por la ley tal como se establece en la solicitud de alquiler al momento de efectuarla.</p>
      
        <h3>Base</h3>
        <p>La tarifa básica incluye cobertura con franquicia o deducible a cargo del cliente, que varía según la categoría del vehículo. La misma incluye cobertura con franquicia a cargo de quien alquila el vehículo, hasta el monto correspondiente en caso de daños por colisión, robo, hurto y/o vuelco. El monto de la franquicia es de 1500 USD (BNA vendedor). En la tarifa básica, el titular del alquiler es responsable ante cualquier daño, robo, hurto, vuelco y/o faltante hasta dicho monto de franquicia.</p>
      
        <h3>Full Cover</h3>
        <p>Incluye la cobertura plus y elimina la franquicia por choque, vuelco, rotura en cerraduras y cristales, daños por tentativa de robos y activación de airbags. Es la cobertura más completa que tenemos y la que recomendamos a todos nuestros clientes.</p>
      
        <h3>Protección por robo / hurto parcial o total / pérdida</h3>
        <p>Incluye franquicia a cargo del cliente, debiendo pagar hasta el monto total de la misma para cada categoría, según las condiciones de la solicitud del alquiler.</p>
      
        <h3>Protección contra daños por colisión</h3>
        <p>Se incluye en la tarifa de seguro por colisión con franquicia a cargo del cliente. Se pueden solicitar coberturas adicionales que eliminan esta franquicia, exclusivamente (full cover).</p>
      
        <h3>Garantías</h3>
        <p>Como garantía del alquiler, se solicita una autorización en la tarjeta de crédito. La misma debe ser bancaria y se debe presentar la tarjeta físicamente. Se excluyen tarjetas digitales/virtuales, con código dinámico o recargables. Esta autorización debe estar disponible al momento de retirar el vehículo.</p>
      
        <h3>Protección por vuelco</h3>
        <p>Se incluye en la tarifa, debiendo pagar hasta el monto total de la franquicia estipulada para cada categoría, según las condiciones de la solicitud del alquiler. (Excepto para los casos que se haya adquirido Full Cover).</p>
      
        <h3>Aclaraciones</h3>
        <ul>
          <li>En caso de daños por causas climáticas (granizo, inundaciones, etc.) se deberá abonar hasta la franquicia establecida.</li>
          <li>En ningún caso los seguros cubren accidentes o roturas en los vehículos ocasionados por negligencias en la conducción.</li>
          <li>En ningún tipo de seguro se encuentra incluido el traslado por grúa del vehículo, salvo que sean problemas mecánicos propios del vehículo y no hayan sido ocasionados por negligencia.</li>
          <li>En ningún caso ningún tipo de cobertura incluye la reposición del tanque de combustible ni arreglos de pinchaduras de cubiertas en el Drop Off.</li>
          <li>Si ocurriera algún accidente y el conductor no es el autorizado según contrato, el daño ocasionado no será cubierto por ningún tipo de cobertura ni siquiera el full cover.</li>
        </ul>
      


        
   
    <h2 class="font-bold text-base">Condiciones </h2>

  
    <p>
      Ambas partes declaran que en la solicitud se encuentran identificados sus datos personales y debidamente caracterizado el vehículo y que esta en perfecto estado para su uso. 
    </p>
<p>
  El cliente:  <br>
  1- Debe ser mayor de edad, 18 años.  <br>
  2- Tener licencia de conducir vigente, y debe estar acompañado de una identificación personal (DNI, PASAPORTE, ETC), quien deberá exhibir el mismo a la persona de la empresa, antes de la entrega del vehículo.  <br>
  3- Sera responsable íntegramente de la custodia tanto del automotor como de sus accesorios y documentos, hasta la efectiva devolución del vehículo.  <br>
  4- Se obliga a utilizar el automóvil con fines turísticos, el cambio del uso será causal de resolución inmediata de la contratación, pudiendo circular solamente en territorio nacional (salvo poder especial), y rutas habilitadas para tal fin.   <br>
  5- No debe permitir la utilización del vehículo por otro conductor que no esté debida y expresamente individualizado y autorizado en la solicitud.   <br>
  6- Tiene prohibido conducir el vehículo en estado ebriedad.   <br>
  7- Debe utilizar combustible premium.   <br>
  8- Si produce una rotura del motor o alguna de sus partes mecánicas por el mal uso del vehículo es responsable directo y tendrá que abonar el 100% del daño que se hubiera generado.  <br>
  9- Tiene prohibido fumar dentro del habitáculo.  <br>
  10- Debe cumplir con el pago íntegro del canon locativo más gastos.  Ante la falta de pago por su parte del valor locativo y/o cualquier rubro aquí acordado lo hará incurrir en mora automáticamente, haciéndole perder todas las ventajas acordadas en la presente.  <br>
  11- En el momento de la devolución del rodado, se procederá al cálculo de los gastos y rubros del período locativo, en los términos y condiciones de esta solicitud. Sin embargo, pueden existir débitos a cargo del cliente no reclamados por TS GROUP S.A. de inmediato.  <br>
  12- Salvo dolo o culpa grave, se otorga cobertura contractual para daños a terceros (responsabilidad civil) hasta $7.800.000 y cualquier valor superior a la cifra cubierta será responsabilidad exclusiva del cliente. Asimismo, el cliente-locatario manifiesta por este medio su conformidad con los alcances de la póliza de seguro contratada por TS GROUP S.A por daños a terceros. En el caso de que el vehículo sea devuelto con algún daño que no existía al momento de la entrega de este, el cliente se hará responsable económicamente de cualquier gasto de reparación. El cliente será siempre responsable directo por los resarcimientos debidos a TS GROUP S.A.  sin perjuicio del ejercicio de sus posibles derechos de repetición contra los terceros causantes de los daños, como así también por los gastos y pagos que TS GROUP S.A. fuera obligada a realizar por su cuenta, por fuerza de solidaridad pasiva que pueda vincularla. Cualquier pago debido a TS GROUP S.A. y efectuado con atraso será cargado de intereses por mora de acuerdo con el doble de la tasa activa del Banco Nación en sus operaciones de descuento.   <br> 
  <strong>EL CLIENTE AUTORIZA A DEBITAR DE SU TARJETA DE CRÉDITO TODOS LOS RUBROS EMERGENTES DE LA PRESENTE SOLICITUD SIN NECESIDAD DE CONTAR CON SU PREVIA APROBACIÓN.</strong>  <br>

  13- En caso de accidente, robo, hurto o incendio del automotor locado, notificar de lo ocurrido a TS GROUP S.A. y formular la denuncia correspondiente en la comisaria más cercana la que deberá ser entregada a la empresa, todo dentro del plazo de veinticuatro (24) horas de producido el hecho.  <br>
  14- El vehículo deberá ser reintegrado a TS GROUP S.A. en la fecha y lugar registrado en el formulario “Devolución, Lugar, fecha, hora”. La falta de cumplimiento a lo aquí establecido otorgará el derecho TS GROUP S.A. a promover las acciones penales pertinentes por apropiación indebida del rodado, sin necesidad de previa notificación. No se puede devolver el vehículo locado en otro país.  <br>
  15- En el caso que se secuestre el rodado rentado por alcoholemia positivo o por cualquier otro motivo, TS GROUP S.A.  percibirá también directamente del locatario, en concepto de lucro cesante, el valor del día de alquiler de la unidad locada por cada día que dure esa situación, hasta tanto sea restituida la misma. Ello sin perjuicio de las demás obligaciones y clausulas previstas en esta solicitud.  <br>
  <strong>Jurisdicción:</strong>
   Ambas partes contratantes se someten para las cuestiones que pudieran surgir sobre la interpretación o cumplimiento del presente contrato a los Tribunales Ordinarios de la Provincia de Salta, renunciando expresamente a cualquier otro fuero y/o jurisdicción. Constituyendo ambas partes domicilio los indicados en este documento, donde se tendrán por validas todas las notificaciones que se efectúen. 
                                                                       
</p>


<h2 class="font-bold text-base">Conditions</h2>

<p>
  Both parties declare that the personal data and the vehicle, duly identified and characterized in the request, are in perfect condition for use.  <br>
</p>

<p>
  The Client:  <br>
  1-Must be of legal age, 18 years old.  <br>
  2-Must have a valid driver’s license and be accompanied by personal identification (ID card, passport, etc.), which must be presented to the company representative before the vehicle is handed over.  <br>
  3- Will be fully responsible for the custody of the vehicle, including its accessories and documents, until the vehicle is effectively returned.  <br>
  4- Agrees to use the vehicle for tourism purposes only. Any change in usage will result in the immediate termination of the contract. The vehicle may only be driven within the national territory (except with special authorization) and on roads permitted for such use.  <br>
  5- Must not allow the vehicle to be driven by anyone who is not expressly identified and authorized in the request.  <br>
  6- Is prohibited from driving the vehicle while intoxicated.  <br>
  7- Must use premium fuel.  <br>
  8- If the engine or any mechanical parts are damaged due to misuse, the client will be directly responsible and must cover 100% of the damage caused.  <br>
  9- Smoking inside the cabin is prohibited.  <br>
  10- Must pay the full rental fee plus expenses. Failure to pay the agreed rental fee and/or any other agreed items will automatically place the client in default, causing the loss of all agreed benefits in this document.  <br>
   12- Except in cases of fraud or gross negligence, contractual coverage for third-party damages (civil liability) is provided up to $7,800,000. Any amount exceeding this limit will be the exclusive responsibility of the client. The client expressly agrees to the terms of the insurance policy contracted by TS GROUP S.A. for third-party damages. If the vehicle is returned with any damage not present at the time of delivery, the client will be financially responsible for the repair costs. The client will always be directly responsible for compensating TS GROUP S.A., regardless of their rights to seek reimbursement from third parties responsible for the damages, as well as for expenses and payments TS GROUP S.A. may be required to make due to passive joint liability. Any delayed payment owed to TS GROUP S.A. will incur interest at double the active rate of Banco Nación on its discount operations.  <br>
  <strong>THE CLIENT AUTHORIZES THE DEBITING OF ALL ITEMS ARISING FROM THIS AGREE DESCRIPTION FROM THEIR CREDIT CARD WITHOUT PRIOR APPROVAL.</strong>  <br>
  13- In case of an accident, theft, robbery, or fire involving the rented vehicle, the client must notify TS GROUP S.A. and file the corresponding police report at the nearest station, which must be submitted to the company within 24 hours of the incident.  <br>
  14- The vehicle must be returned to TS GROUP S.A. at the date and location recorded in the “Return: Place, Date, Time” form. Failure to comply with this requirement will grant TS GROUP S.A. the right to pursue relevant legal action for misappropriation of the vehicle without prior notification. The rented vehicle may not be returned in another country.  <br>
  15- In the case that the rented vehicle is impounded due to positive alcohol tests or for any other reason, TS GROUP S.A. will directly charge the client for loss of profit, equivalent to the daily rental rate for each day the situation persists until the vehicle is returned. This is without prejudice to the other obligations and clauses outlined in this agreement.  <br>
  <strong>Jurisdiction:</strong> Both contracting parties submit to the Ordinary Courts of the Province of Salta for any disputes arising from the interpretation or fulfillment of this contract, expressly waiving any other jurisdiction. Both parties establish the domiciles indicated in this document as valid for all notifications.
</p>





</div>
 
  
</Layout>
