---
import Layout from '../../layouts/Layout.astro';
import Items from './Items';

---

<Layout title="Ts Turismo - Promos">

  <Items client:load />
  
  <div class="px-4 text-primary text-center text-xl lg:text-3xl font-bold italic mb-20">
    + Alianzas Comerciales
  </div>
</Layout>
