---
import Layout from '../layouts/Layout.astro';
import Slider from './Slider'
import Reservation from '../components/Reservation'

  const images = [
    '/images/home/1.jpg',
    '/images/home/2.jpg',
    '/images/home/3.jpg',
    '/images/home/4.jpg',
    '/images/home/5.jpg',
    '/images/home/6.jpg' 
  ]

---

<Layout title="Ts Turismo Car & Pick Up Rental">

  <section>
  
      <div class="w-full max-w-7xl mx-auto flexflex-col px-4 py-12">
        <div class='opacity-0 animate-fade-up animate-delay-200 text-white'>
          <h2 class='font-bold text-2xl lg:text-3xl tracking-widest'>Kilometros de paisajes,</h2>
          <h1 class='text-primary text-5xl lg:text-6xl font-black italic'>SIN LÍMITES</h1>
          <h3 class='font-bold italic lg:text-xl'>VEHICLE RENTAL FOR SALTA, JUJUY & TUCUMAN</h3>
        </div>
        <div class='w-full lg:max-w-md mt-4 opacity-0 animate-fade-left animate-delay-300'>
          <h2 class='text-primary mb-2 lg:pl-10'>Make your reservation!</h2>
          <Reservation />
        </div>
      </div>

      <div class="fixed top-0 left-0 w-screen h-screen -z-10 bg-slate-100">
        <Slider client:load images={images} />
      </div>


   
  </section>

</Layout>
