---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Ts Turismo Car & Pick Up Rental">
	<div class="max-w-7xl m-auto py-20 px-4 relative">
    <div class="max-w-3xl lg:absolute left-0 top-20 -z-10 mb-8">
      <img src="./home.png" alt="fleet" class="w-full h-full object-contain" />
    </div>
    <div class="flex items-end flex-col">
      <div class="lg:text-right">
        <h2 class="font-bold text-xl lg:text-3xl text-black/60 tracking-widest">THE NORTH AWAITS YOU</h2>
        <h1 class="text-primary text-4xl lg:text-6xl font-black italic">DISCOVER IT YOUR WAY</h1>
        <h3 class="font-bold italic lg:text-xl text-black/20">VEHICLE RENTAL FOR SALTA, JUJUY & TUCUMAN</h3>
      </div>
      <div class="max-w-md mt-8">
        <h2 class="text-primary mb-4 lg:pl-10">Make your reservation!</h2>
        <img src="/g20.png" class="w-full" alt="">
      </div>
   
    </div>
  </div>
</Layout>
