---
import Contact from './Contact.tsx';
---

<footer class="border-primary border-t-[2.5rem] py-10" id="contact">
  <div class="max-w-7xl mx-auto px-4 flex justify-between flex-col lg:flex-row gap-8 items-center text-sm">
    <div class="max-w-xl w-full">
      <h2 class="font-bold text-primary mb-8 text-xl">Contact</h2>
      <Contact client:load />
    </div>
    <div>
        G. MAPS
    </div>
  </div>
</footer>