---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Ts Turismo - Fleet">
	<div class="max-w-6xl m-auto py-20 px-4">

    <article class="flex justify-between gap-12 items-center flex-col lg:flex-row">
      <div class="max-w-xl">
        <img src="./fleet.png" alt="fleet" class="w-full h-full object-contain" />
      </div>
      <div class="flex flex-col gap-y-4 lg:text-right">
        <h1 class="text-primary font-bold text-xl">Camionetas FORD RANGER XL | 4x4 | Manual</h1>
        <div class="text-black/50">
          &bull; Alquiler diario desde 90usd. <br>
          &bull; Seguro Total. Bonificado con franquicia. <br>
          &bull; Seguro Total Opcional desde 130usd diarios. <br>
          &bull; Kilometros ilimitados. <br>
          &bull; Distancia ilimitada (con aviso previo). <br>
          &bull; Paquetes personalizados para turistas. <br>
          &bull; Drop off en aeropuertos. <br>
          &bull; Pick up / drop inter-provincial. <br>
        </div>
        <h2 class="text-primary font-medium text-3xl uppercase tracking-widest">Salta - Jujuy - Tucumán</h2>
      </div>
    </article>

  </div>
</Layout>
