---
const { title } = Astro.props;
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Whatsapp from '../components/Whatsapp.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;0,500;0,700;1,700;1,900&display=swap" rel="stylesheet">

	</head>
	<body class="flex flex-col min-h-screen"> 
    <Header />
    <div class="flex-1"><slot /></div>
    <Footer />
    <Whatsapp />
	</body>
</html>

<style>
.kanit-regular {
  font-family: "Kanit", serif;
  font-weight: 400;
  font-style: normal;
}
.kanit-medium {
  font-family: "Kanit", serif;
  font-weight: 500;
  font-style: normal;
}
.kanit-bold {
  font-family: "Kanit", serif;
  font-weight: 700;
  font-style: normal;
}
.kanit-bold-italic {
  font-family: "Kanit", serif;
  font-weight: 700;
  font-style: italic;
}
.kanit-black-italic {
  font-family: "Kanit", serif;
  font-weight: 900;
  font-style: italic;
}
</style>